h1 {
    color:white;
}

body {
    background-color: black;
    padding-bottom:40px;
}

.one-post {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:18px 10px;

}

.buttonColumn {
    margin:0 auto;
}

.postArticle {
    width:760px;
    background-color:#AFADAF;
    padding:9px;
    margin-right:20px;
}

.pics {
    width:380px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around
}

.fblink {
    background-color:#AFADAF;
    align-items:center;
    padding:8px;
}
