@import url('https://fonts.googleapis.com/css?family=Overlock');

body {
    margin:0px;
    padding:0px;
    width: calc(100% - 25px);
}

.wrapper {
    background-color: black;
    height:100%;
    margin:0px;
    padding:0px;
}

menu {
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items: center;
    background-color: #B32A04;
    height:110px;
}

.logo {
    margin-left:20px;
    height:100px;
}

.nav-buttons {
    width:324px;
    display:flex;
    justify-content: space-between;
    float:right;
    margin-right:40px;
}

.hvr-float-shadow {
    border:1px solid black;
    background-color:#CA873F;
    padding:6px 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  .hvr-float-shadow>a {
    text-decoration-line: none;
    font-weight:bold;
}
section {
    padding:20px;
    /* height:650px; */
    width: calc(100% - 20px);
    display:flex;
    /* flex-direction: column;
    justify-content:space-around; */
    margin: 0px auto;
}
.section-one {
    padding:20px;
    background-color:black;
    background-size: auto;
    height:630px;
    width: calc(100% - 50px);
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 0px auto;
}

.evenly {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

.c {
    margin:0px auto;
    width:100%;
}

.off-white, .topH1 {
    color: #F3EBEA;
}

.logo-height {
    height:100px;
}

.twitter-logo {
    height:300px;
    visibility:visible;
}

.section-two {
    height:840px;
    background-color:#B32A04;
    width: calc(100% - 0px);
    margin: 0px auto;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

}

.wide900 {
    margin:0px auto;
    width:1000px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 0px auto;
}

h3 {
    font-size:24pt;
    font-weight:bold;
    margin:0px auto;
    display:flex;
    flex-direction:column;
}

.pt30 {
    font-size:30pt;
}
.pt24 {
    font-size:24pt;
}
.pt18 {
    font-size:18pt;
}

.pt16 {
    font-size:16pt;
}

.pt14 {
    font-size:14pt;
}
.c666 {
    color:#666;
}
.c999 {
    color:#999;
}
.padtop8 {
    padding-top:8px;
}
.upper {
    text-transform: uppercase;
}
.two-together {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.box {
    width:300px;
    height:300px;
    background-color:white;
}

.box-image {
    width:300px;
    height:180px;
}

.box-title {
    color:white;
    font-size:18pt;
    font-weight:bold;
    text-align: center;
    background-color:#B32A04;
    padding: 7px 0px;
}

.box-text {
    padding:12px;
    line-height: 14pt;
    font-size:12pt;
}

.section-three {
    background-color:#333;
    padding: 60px 0px;
    height:540px;
}

.section-three>h3 {
    font-size:24pt;
    font-weight:bold;
    margin:0px auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}

.wide800 {
    width:800px;
}

 p {
     margin: 10px 0px;
 }

 li {
    margin-top:6px;
 }

footer {
    width:100%;
    background-color:#000;
    height:540px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
 }

 .flex-row {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    width:80%;
 }

 hr {
     border-color:#333;
     margin-bottom:30px;
 }

input {
    margin-top: 15px;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: solid 1px;
    font-size: 15px;
    padding-left: 5px;
}

button {
    margin-top: 15px;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background:#CA873F;
    font-size: 20px;
    font-family: 'Overlock', cursive;
    font-weight:bold;
    border:1px solid #B32A04;
}

button:active {
    margin-top:17px;
    margin-left:2px;
    width:121px;
    height:36px;
    border:3px solid #B32A04;
}

button:focus {
    outline: none;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 801px) 
  /* and (-webkit-min-device-pixel-ratio: 3) */
   { 

.topH1 {font-size:1pt;visibility:hidden;}
.off-white {padding-left:12px;}
.logo-height {height:1px;visibility:hidden;}
.twitter-logo {
    height:1px;
    visibility:hidden;
    }
.c {text-align: center;
    margin-bottom:20px;}
.wide900 {
    width:300px;
    display:flex;
    flex-wrap: wrap;
    }
.box {
    margin-bottom:6px;
}
.section-two {
    height:1200px;
}
.c999 {
    width:400px;
}
.flex-row {
    flex-wrap:wrap;
}
footer {height:620px;}
.foot {
    margin:16px;
    width:400px; 
}
}
