

.one-post {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:12px 10px;

}

.buttonColumn {
margin:0 auto;
}

.postArticle {
    width:760px;
    background-color:#F3EBEA;
    padding:5px;
    margin-right:20px;
}

.pics {
    width:380px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around
}
